keras==2.6
tensorflow==2.6.0
keras==2.6
numpy~=1.19.5
pandas~=1.3.4
seaborn~=0.11.2
matplotlib~=3.4.3
pathlib~=1.0.1
flask~=2.0.3
werkzeug~=2.0.2
pillow~=8.4.0
SQLAlchemy
Flask-SQLAlchemy
flask_login
opencv-python
imgaug~=0.4.0
tqdm~=4.62.3
sklearn
scikit-learn~=1.0.1
pytest
pytesseract
psycopg2-binary


